[keybinds]
quit = ["q", "ctrl+c"]
back = ["esc"]
switch = ["tab"]
select_send = ["enter"]
message_up = ["k"]
message_down = ["j"]
delete = ["d"]
edit = ["e"]
reply = ["r"]
confirm_yes = ["y"]
confirm_no = ["n", "esc"]
