[keybinds]
quit = ["q", "ctrl+c"]
back = ["esc"]
switch = ["tab"]
chat_open = ["l"]
select_send = ["enter"]
message_up = ["k", "up"]
message_down = ["j", "down"]
delete = ["d"]
yank = ["y"]
edit = ["e"]
reply = ["r"]
confirm_yes = ["y"]
confirm_no = ["n", "esc"]
